package ticket

templ TicketList(tickets []TicketDetailProps, isRoomOwner bool) {
	<div>
		<h2>Tickets</h2>
		<div class="ticket-list" id="ticket-list">
			for _, ticket := range tickets {
				@TicketDetail(ticket, isRoomOwner)
			}
		</div>
	</div>
}
