package ticket

import "fmt"

templ EstimationDetail(ticketID int64, usersEstimate string, averateEstimate string, estimatedBy string) {
	<div data-ticket-average-estimation={ fmt.Sprintf("%d", ticketID) }>
		<p>Average estimate: { averateEstimate }</p>
		<p>Estimated by: { estimatedBy } users</p>
	</div>
}
